<header>
   
    <nav>
        <a href="./">Home</a>
         | 
        <a href="https://webpages.charlotte.edu/jmarque5/itis3135/introduction.html">Introduction</a>
         | 
        <a href="https://webpages.charlotte.edu/jmarque5/">UNCC home page</a>
         | 
         <a href="https://webpages.charlotte.edu/jmarque5/itis3135/brand.html">Brand</a>
         |
         <a href="https://webpages.charlotte.edu/jmarque5/itis3135/tables.html">Tables</a>
         |
         <a href="https://webpages.charlotte.edu/jmarque5/itis3135/forms.html">Forms</a>
         |
         <a href="https://webpages.charlotte.edu/jmarque5/itis3135/DEFNOTCRAP/CRAP WEBSITE.htm">Crap</a>
         |
         <a href="https://webpages.charlotte.edu/jmarque5/itis3135/website_evaluations.html">Website Evaluations</a>
         |
        <a href="https://webpages.charlotte.edu/jmarque5/itis3135/contract.html">Contract</a>
         |
        <a href="https://webpages.charlotte.edu/jmarque5/itis3135/firstscripts.html">First Scripts</a>
         |
        <a href="https://webpages.charlotte.edu/jmarque5/itis3135/polygons.html">Polygons</a>
    </nav>
</header>