<header> 
    <nav>
        <a href="./">Home</a>
         | 
        <a href="./introduction.html">Introduction</a>
         | 
        <a href="https://webpages.charlotte.edu/jmarque5/">UNCC home page</a>
         | 
         <a href="./brand.html">Brand</a>
         |
         <a href="./tables.html">Tables</a>
         |
         <a href="./forms.html">Forms</a>
         |
         <a href="./stuff/CRAP WEBSITE🎅.htm">Crap</a>
         |
         <a href="./website_evaluations.html">Website Evaluations</a>
         |
         <a href="./accessibility/index.html">Accessibility</a>
         |
         <a href="./contract.html">Contract</a>
         |
         <a href="./firstscripts.html">First Scripts</a>
         |
         <a href="./calculator_try.html">Calculator Try</a>
         |
         <a href="./calculator.html">Calculator Part 2</a>
         |
         <a href="./arrays.html">Arrays</a>
         |
         <a href="./polygons.html">Polygons</a>
         |
         <a href="./slideshow.html">Slideshow</a>
         |
         <a href="./Activity10.html">Image Swap</a>
         |
         <a href="./Activity11.html">Accordion</a>
         |
         <a href="./Activity12/Marquez-Activity12.html">Activity 12</a>
         |
         <a href="./Activity13/Marquez-Activity13.html">Activity 13</a>
         |
        <a href="./hobby/">Hobby</a>
        |
        <a href="./project/index.html">Project</a>
        |
        <a href="./project/project_1.html">Client Project Part 1</a>
    </nav>
</header>